body{
    background-color: #333;
    color:#fff;
    font-size: 24px;
    font-family: arial;
    margin:0;
    padding:0;
}

#container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#painel-esquerdo{
    display: flex;
    flex:1;
    border-right: 1px dashed #ccc;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.input-jogador{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    color:#333;
    text-align: center;
}

.input-jogador::placeholder{
    color:#ccc;
}

#painel-direito{
    display: flex;
    flex:4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tabuleiro{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    
}

.tabuleiro-linha{
    display: flex;
    flex-direction: row;
    flex:1;
    border-bottom: 1px solid #ccc;
}

.tabuleiro-linha:last-child{
    border-bottom: 0px;
}

.tabuleiro-jogada{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-size:90px;
    cursor: pointer;
    border-right: 1px solid #ccc;
   
}

.tabuleiro-jogada:last-child{
    border-right: 0px;
  
}

.tabuleiro-jogada:hover{
    color:#f903a9;
    background-color: #3f3f3f;
}

#container-acao{
    margin-top: 100px;
}

#botao-iniciar{
    background-color: #861480;
    width: 40vw;
    height: 60px;
    border:2px solid #f903a9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#botao-iniciar:hover{
    opacity: 0.8;
}