body {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-family: arial;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left-panel {
  display: flex;
  flex: 1;
  border-right: 1px dashed #ccc;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.player-input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.player-input::placeholder {
  color: #ccc;
}

#right-panel {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-board {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

.game-board-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.game-board-row:last-child {
  border-bottom: 0px;
}

.game-board-move {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}

.game-board-move:last-child {
  border-right: 0px;
}

.game-board-move:hover {
  color: #f903a9;
  background-color: #3f3f3f;
}

#container-action {
  margin-top: 100px;
}

#start-button {
  color: #fff;
  font-size: 24px;
  background-color: #861480;
  width: 40vw;
  height: 60px;
  border: 2px solid #f903a9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#start-button:hover:active {
  opacity: 0.8;
}

#start-button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#start-button:hover:disabled {
  cursor: not-allowed;
}

#tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

#tooltiptext {
  margin-top: 30px;
  font-size: 20px;
}
